<!DOCTYPE html>
<html lang="en">
<head>
  <!-- TODO Add timer and log high scores -->
  <meta charset="UTF-8">
  <title>Tit Tac Toe</title>
  <style>
    #game {
      font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
      text-align: center;
      font-size: 16px;
      width: 648px;
      margin: 0 auto;
    }
    #board {
      display: table;
      margin: 0 auto;
    }
    #board, .tile {
      border: 1px solid #aaa;
    }
    .column {
      display: table-row;
    }
    .tile {
      display: table-cell;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
    #controls {
      margin: 20px auto;
      display: inline-block;
    }
    #log {
      max-height: 240px;
      padding: 10px;
      border: 1px solid #aaa;
      margin-top: 20px;
      overflow-y: scroll;
    }
    .message {
      padding: 5px;
      border: 1px solid #eee;
      margin: 5px 0;
    }
  </style>
</head>
<body>
  <div id="game">
    <div id="controls">
      <button id="start" v-on:click="startGame()" v-if="!isPlaying">Start Game</button>
      <button id="quit" v-on:click="endGame(3)" v-else>Quit Game</button>
      <input type="number" min="3" max="9" v-model="size" v-if="!isPlaying">
    </div>
    <div id="board">
      <div class="column" v-for="row in board">
        <div class="tile" v-for="tile in row" v-on:click="tickTile(tile)">{{showTile(tile)}}</div>
      </div>
    </div>
    <div id="log" v-if="log.length">
      <div class="message" v-for="message in log">{{message}}</div>
    </div>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>
    new Vue({
      el: "#game",
      mounted: function() {
        this.newBoard();
      },
      data: function() {
        return {
          isPlaying: false,
          board: [],
          botSolutions: [],
          playerSolutions: [],
          freeTiles: [],
          size: 3,
          log: []
        }
      },
      watch: {
        size() {
          this.newBoard();
        }
      },
      methods: {
        startGame() {
          this.newBoard();
          this.isPlaying = true;
          this.addLog('start')
        },
        newBoard() {
          this.board = [];
          for(var y=0;y<this.size;y++) {
            var row = [];
            for(var x=0;x<this.size;x++) {
              row.push({
                selected: 0,
                x: x,
                y: y
              });
            }
            this.board.push(row);
          }
        },
        showTile(tile) {
          if(tile.selected == 1) return 'X';
          if(tile.selected == 2) return 'O';
          return '';
        },
        tickTile(tile) {
          if(!this.isPlaying) {
            return this.startGame();
          }
          if(tile.selected) return;
          tile.selected = 1;
          this.checkWin();
          this.botTurn();
        },
        botTurn() {
          // Easy: Select tile randomly
          // Medium: Select tile in potentially winning sequence
          // Hard: Block player from placing winning tile
          // Check all possible solutions?
          if(!this.isPlaying) return;
          this.sortSolutions();
          if(this.checkCanWin()) return this.selectPriority();
          // Block player if they are near win
          var blockPlayer = false;
          for(var i=0;i<this.playerSolutions.length;i++) {
            var sol = this.playerSolutions[i];
            if(sol.priority == this.size-1) {
              // Player is near win, block them
              for(var j=0;j<sol.arr.length;j++) {
                var tile = sol.arr[j];
                if(!tile.selected) {
                  this.board[tile.y][tile.x].selected = 2;
                  blockPlayer = true;
                  break;
                }
              }
              break;
            }
          }
          if(blockPlayer) return this.checkWin();
          if(!this.botSolutions.length) return this.selectRandom();
          return this.selectPriority();
        },
        sortSolutions() {
          this.botSolutions.sort(function(a,b) {
            return (a.priority > b.priority) ? -1 : ((b.priority > a.priority) ? 1 : 0);
          });
          this.playerSolutions.sort(function(a,b) {
            return (a.priority > b.priority) ? -1 : ((b.priority > a.priority) ? 1 : 0);
          });
        },
        checkCanWin() {
          for(var i=0;i<this.botSolutions.length;i++) {
            var sol = this.botSolutions[i];
            if(sol.priority == this.size-1) {
              return true;
            }
          }
          return false;
        },
        selectPriority() {
          // Tick highest priority sequence
          var seq = this.botSolutions[0].arr;
          for(var i=0;i<seq.length;i++) {
            var tile = seq[i];
            if(tile.selected) continue;
            this.board[tile.y][tile.x].selected = 2;
            break;
          }
          return this.checkWin();
        },
        selectRandom() {
          if(!this.freeTiles.length) return this.endGame(0);
          var num = Math.floor(Math.random()*this.freeTiles.length),
          tile = this.freeTiles[num];
          this.board[tile.y][tile.x].selected = 2;
          return this.checkWin();
        },
        checkWin() {
          this.botSolutions = [];
          this.playerSolutions = [];
          this.freeTiles = [];
          // Horizontal
          for(var x=0;x<this.size;x++) {
            seq = [];
            for(var y=0;y<this.size;y++) {
              seq.push(this.board[x][y]);
            }
            this.checkSequence(seq);
          }
          // Vertical
          for(var y=0;y<this.size;y++) {
            var seq = [];
            for(var x=0;x<this.size;x++) {
              seq.push(this.board[x][y]);
            }
            this.checkSequence(seq);
          }
          // Diagonal
          var seq = [];
          for(var i=0;i<this.size;i++) {
            seq.push(this.board[i][i]);
          }
          this.checkSequence(seq);
          seq = [];
          y = this.size-1;
          for(var x=0;x<this.size;x++) {
            seq.push(this.board[x][y]);
            y--;
          }
          this.checkSequence(seq);
          if(!this.freeTiles.length) this.endGame(0);
        },
        checkSequence(seq) {
          var player = [],
          bot = [],
          botSolutions = [],
          playerSolutions = [];
          for(var i=0;i<seq.length;i++) {
            if(seq[i].selected == 0) {
              botSolutions.push(seq[i]);
              playerSolutions.push(seq[i]);
              this.freeTiles.unshift(seq[i]);
            }
            if(seq[i].selected == 1) {
              player.push(seq[i]);
              playerSolutions.push(seq[i]);
            }
            if(seq[i].selected == 2) {
              bot.push(seq[i]);
              botSolutions.push(seq[i]);
            }
          }
          var botSequence = {
            priority: bot.length,
            arr: botSolutions
          }
          var playerSequence = {
            priority: player.length,
            arr: playerSolutions
          }
          if(!player.length) this.botSolutions.push(botSequence);
          if(!bot.length) this.playerSolutions.push(playerSequence);
          if(player.length == this.size) this.endGame(1);
          if(bot.length == this.size) this.endGame(2);
        },
        endGame(over) {
          if(over === 1) this.addLog('win');
          if(over === 2) this.addLog('lose');
          if(over === 3) this.addLog('quit');
          if(!over) this.addLog('tie');
          this.isPlaying = false;
        },
        addLog(msg) {
          var str = '';
          if(msg == 'start') str = 'New game started.';
          if(msg == 'win') str = 'You won!';
          if(msg == 'lose') str = 'You lost!';
          if(msg == 'quit') str = 'You quit!';
          if(msg == 'tie') str = 'Cat\'s game!';
          this.log.unshift(str);
        }
      }
    });
  </script>
</body>
</html>